<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventorytracker"
    android:versionCode="1"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.inventorytracker.TabLayout"
            android:label="@string/app_name"  
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".about"  android:screenOrientation="portrait"/>
        <activity android:name=".Login"  android:screenOrientation="portrait"/>
        <activity android:name=".manager"  android:screenOrientation="portrait"/>
        <activity android:name=".sales"  android:screenOrientation="portrait"/>
        <activity android:name=".managerOption"  android:screenOrientation="portrait"/>
        <activity android:name=".payment"  android:screenOrientation="portrait"/>
        <activity android:name=".receipt"  android:screenOrientation="portrait"/>
        <activity android:name=".reporting"  android:screenOrientation="portrait"/>
        <activity android:name=".shipping"  android:screenOrientation="portrait"/>
        <activity android:name=".orderReview"  android:screenOrientation="portrait"/>
    </application>


</manifest>